<html>
	<body>
		<a href='/freshbooks/category/list/'>Category</a> <a href='/freshbooks/category/'>New</a><br />
		<a href='/freshbooks/client/list/'>Client</a> <a href='/freshbooks/client/'>New</a><br />
		<a href='/freshbooks/estimate/list/'>Estimate</a> <a href='/freshbooks/estimate/'>New</a><br />
		<a href='/freshbooks/expense/list/'>Expense</a> <a href='/freshbooks/expense/'>New</a><br />
		<a href='/freshbooks/invoice/list/'>Invoice</a> <a href='/freshbooks/invoice/'>New</a><br />
		<a href='/freshbooks/item/list/'>Item</a> <a href='/freshbooks/item/'>New</a><br />
		<a href='/freshbooks/payment/list/'>Payment</a> <a href='/freshbooks/payment/'>New</a><br />
		<a href='/freshbooks/project/list/'>Project</a> <a href='/freshbooks/project/'>New</a><br />
		<a href='/freshbooks/recurring/list/'>Recurring</a> <a href='/freshbooks/recurring/'>New</a><br />
		<a href='/freshbooks/staff/list/'>Staff</a> <a href='/freshbooks/staff/'>New</a><br />
		<a href='/freshbooks/task/list/'>Task</a> <a href='/freshbooks/task/'>New</a><br />
		<a href='/freshbooks/time_entry/list/'>Time Entry</a> <a href='/freshbooks/time_entry/'>New</a><br />
		{% block content %}
		{% endblock %}			
		</body>
	</html>