<html>
	<body>
		<a href='/freshbooks/create/category/'>Create Category</a>
		<a href='/freshbooks/create/client/'>Create Client</a>
		<a href='/freshbooks/create/estimate/'>Create Estimate</a>
		<a href='/freshbooks/create/expense/'>Create Expense</a>
		<a href='/freshbooks/create/invoice/'>Create Invoice</a>
		<a href='/freshbooks/create/item/'>Create Item</a>
		<a href='/freshbooks/create/payment/'>Create Payment</a>
		<a href='/freshbooks/create/project/'>Create Project</a>
		<a href='/freshbooks/create/recurring/'>Create Recurring</a>
		<a href='/freshbooks/create/staff/'>Create Staff</a>
		<a href='/freshbooks/create/task/'>Create Task</a>
		<a href='/freshbooks/create/timeentry/'>Create Time Entry</a>
		<form method="post" action="." >
			<table>
			{{ form }}
			</table>
			<input type="submit" value="Submit" />
		</form>
	</body>
</html>